*{
  margin: 0;
  padding: 0%;
}

body{
  margin: 0;
 background-repeat: no-repeat;
 background-position: right top, left bottom;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 background-color: rgb(86, 86, 86);
 overflow-x: hidden;
 background-image: url(/ouderavond-project-main/img/Pakistani-Gamers-Want-a-Seat-at-the-Table-Culture-shutterstock_1949862841.webp);
 background-repeat: no-repeat;
}
header{
  color: azure;

text-align: center;
}

nav{
  border: solid;
  border-radius: 15px;
  border: 10px;
  background-color:black;
  height: 75px;
  position: sticky;
  top: 0px;
 
}
nav h1{
  color: white;
  position: relative;
  left:30px;
  top: 20px;
}


ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  top: 70px;
}

a:hover{
  padding-top: 50px;
  color: cadetblue;
}
 a{
  font-size: large;
  text-decoration: none;
  color: rgb(255, 255, 255);
  position: relative ;
   bottom: 45px;
  padding: 17px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

 

 .Tuncay , .Nouaman {
  text-align: center;
  border: solid;
  border-radius: 15px;
  background-color: lightslategray;
  width: 500px;
 }

section {
 display: flex;
 justify-content: center;
}

 h1{
  position: relative;
  right: 30px;
 }
 


 .yo{
 position: relative;
  top: 235px;
 right: 510px;
 width: 500px;
  height: 480px;
 }

 .mama{
  position: relative;
  left: 60px;
  top: 190px;
  width: 700px;
  }

.h2T , .h2N{
  color: rgb(195, 195, 195);
  display: flex;
  justify-content: center;
}

