body{
  margin: 0;
 background-repeat: no-repeat;
 background-position: right top, left bottom;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 background-color: rgb(86, 86, 86);
 overflow-x: hidden;
}
header{
  color: azure;

text-align: center;
}

nav{
  border: solid;
  border-radius: 15px;
  border: 10px;
  background-color:black;
  height: 75px;
 position: sticky;
 top: 0%;
 z-index: 1;
}
nav h1{
  color: white;
  position: relative;
  left:30px;
  top: 20px;
}


ul {

list-style: none;
display: flex ;
position: relative	;
top: 24px;
left: 200px;
}

a:hover{
  padding-top: 50px;
  color: cadetblue;
}
 a{
  font-size: large;
  text-decoration: none;
  color: rgb(255, 255, 255);
  position: relative ;
   bottom: 45px;
  padding: 17px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

 .EduarteSection {
  border: solid;
  border-radius: 15px;
  background-color: lightslategray;
  float: right;
  position:relative; 
  bottom: 250px;
  width: 700px;
  
 }

 .CanvasSection {
  position: relative;
  top: 130px;
  border: solid;
  border-radius: 15px;
  background-color: lightslategray;
  float: left;
  width: 700px;
 }

 h1{
  position: relative;
  right: 30px;
 }
 


 .yo{
 position: relative;
  top: 235px;
 right: 510px;
 width: 500px;
  height: 480px;
 }

 .mama{
  position: relative;
  left: 60px;
  top: 190px;
  width: 700px;
  }